{% extends 'index.html' %}

{% block body %}
<br>
	<div class="alert alert-info alert-dismissible fade show" role="alert"> 
 <strong>Hi, {{ session.username }} !</strong><br>
 We are happy to have you onboard. <br>
 Here are a bunch of articles you can have a look into.
 <button type="button" class="close" data-dismiss="alert" aria-label="Close"> 
 <span aria-hidden="true">&times;</span> 
 </button> 
 </div>
 {% with messages = get_flashed_messages(with_categories=true) %}
 {% if messages %}
 {% for category, message in messages %}
 <div class="alert alert-{{ category }} alert-dismissible fade show mt-2" role="alert"> 
 {{ message }} 
 <button type="button" class="close" data-dismiss="alert" aria-label="Close"> 
 <span aria-hidden="true">&times;</span> 
 </button> 
 </div>
 {% endfor %}
 {% endif %}
 {% endwith %}
 
 {% if articles %}
 {% for article in articles %}
<div class="shadow-none bg-white rounded p-3 animated slideInLeft">
	<div class="flex-container">
	{% for tag in article.tags.split(",") %}
	<span class="m-1 bg-light tag text-muted p-1 text-uppercase">{{ tag }}</span>
	{% endfor %}
	</div>
	<br>
	<h2 class="article-title">{{ article.title }}</h2>
	<hr>
		<p style="color: #0277BD; font-size: 12px;">
			<i class="fa fa-calendar" aria-hidden="true"></i> {{ article.date_created.date().strftime("%B")}} {{ article.date_created.date().day }},{{ article.date_created.date().year }}     <i class="fa fa-user" aria-hidden="true"></i> Aditya Ghag</p>
			<div style="font-size: 15px;">{{ article.content[:100] | safe }}...</div>
			<a class="btn-link text-uppercase" href="http://127.0.0.1:5000/articles/{{ article.id }}" role="button" style="color: #0277BD; font-size: 12px;">read more <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
</div>
<br>
	{% endfor %}
 {% else %}
 <h3 class="text-center text-muted">No articles yet :(</h3>
 {% endif %}
{% endblock %}