{% extends 'index.html' %}

{% block body %}
<br>
<div class="shadow-none bg-white rounded p-3 form text-center animated fadeIn"> 
<h1 class="text-uppercase">Welcome, <br> to <span style="color: #0277BD;">TechBeast</span>.</h1> 
<p class="lead">A new generation platform for developers.
Explore AI, Deep Learning, Machine Learning stuff.</p> 
<hr class="my-4"> 
<a class="btn mb-3 btn-block text-uppercase p-2 text-light" href="{{ url_for('loginsuccess') }}" role="button" style="background-color: #0277BD;">Login to Techbeast</a> 
	<p class="text-center">Don't have an account?<p>
<a class="btn btn-block text-uppercase p-2" href="{{ url_for('signup') }}" role="button" style="background-color: #0277BD;">grab a seat</a> 
</div>
<br>
<div class="shadow-none bg-dark text-light rounded p-3 text-center">
	<h2>Our Motto</h2>
	<h3>Learn, <span style="color: #0277bd">Code</span>, Tweak, <span style="color: #0277bd">Repeat.<h3>
</div>
<br>
<div class="shadow-sm text-center bg-white rounded p-3 mb-3">
		<img src="https://i.ibb.co/rZvv2Bd/images.jpg" alt="images" border="0" class="img-fluid rounded-circle w-50 mb-2"><br>
	<h2 class="text-uppercase mb-2">artificial intelligence</h2>
	<p style="font-size:14px;">Artificial intelligence (AI) is an area of computer science that emphasizes the creation of
	intelligent machines that work and react like humans.
	Follow <strong>Techbeast</strong> and you'll have enough knowledge 
	to start applying AI algorithms to your own projects. </p>
	</p>
	<a class="btn btn-block text-uppercase p-2" href="http://127.0.0.1:5000/signup" role="button" style="background-color: #0277BD;">get started</a> 
	</div>
{% endblock %}
