{% extends 'index.html' %}

{% block body %}

<br>
	{% with messages = get_flashed_messages(with_categories=true) %}
 {% if messages %}
 {% for category, message in messages %}
 <div class="alert alert-{{ category }} alert-dismissible fade show mt-2" role="alert"> 
 {{ message }} 
 <button type="button" class="close" data-dismiss="alert" aria-label="Close"> 
 <span aria-hidden="true">&times;</span> 
 </button> 
 </div>
 {% endfor %}
 {% endif %}
 {% endwith %}
 
 {% if msg %}
	<div class="alert alert-success alert-dismissible" role="alert"> 
	<h4 class="alert-heading">Ohh my goodness!</h4> 
	<p>We're so thrilled you decided to join the TECHBEAST family ! Hats off making an excellent decision !</p> 
	<hr> 
	<p class="mb-0">Get social with us. You can now login to explore more.</p> 
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"> 
	<span aria-hidden="true">&times;</span> 
	</button>
	</div>
	{% endif %}
<form action="{{ url_for('loginsuccess') }}" method="POST" class="shadow-none bg-white rounded p-3 form">
<h2 class="text-uppercase text-center mb-2">Member Login</h2>
<div class="text-center mb-3"><i class="fa fa-code font-weight-bold" aria-hidden="true" style="color: #0277bd; font-size:50px;"></i></div>
<div class="form-group"> 
<label for="exampleInputEmail1">Email address</label> 
<input type="email" class="form-control form-control-lg shadow-none" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" required> 
<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> 
</div> 
<div class="form-group"> 
<label for="exampleInputPassword1">Password</label> 
<input type="password" class="form-control form-control-lg shadow-none" id="exampleInputPassword1" name="pass" required> 
</div> 
<div class="form-group form-check"> 
<input type="checkbox" class="form-check-input shadow-none" id="exampleCheck1"> 
<label class="form-check-label" for="exampleCheck1">Remember me</label> 
</div> 
<button type="submit" class="btn text-light btn-block btn-lg p-2 text-uppercase shadow-none">Submit</button> 
</form>

{% endblock %}
